/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--primary-color);
}

/* fonts */
@font-face {
    font-family: 'calFont';
    src: url('../assets/CalSans-Regular.ttf');
}

@font-face {
    font-family: 'playFont';
    src: url('../assets/29LT_Bukra-Regular.OTF');
}

h1,
h2,
h3,
h4,
h5,
div,
h6 {
    font-family: 'calFont';
    color: var(--lst-color);
    text-transform: capitalize;
}

p,
ul,
li,
span,
a,
button {
    font-family: 'playFont';
    color: var(--lst-color);
    line-height: 1.5rem;
}

/* loader */
#loaderParent {
    width: 100%;
    height: 100%;
    background: #00000061;
    position: fixed;
    top: 0;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/* none */
.none {
    display: none !important;
}

/* colors schema */
:root {
    --primary-color: #262f3d;
    --secondary-color: #dd2c00;
    --mid-color: #ff9100;
    --lst-color: #d0e3ff;
}

/* same classes */
.text-g {
    color: transparent;
    background: linear-gradient(129deg, var(--mid-color) 10%, var(--secondary-color) 25%);
    background-clip: text;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.gap {
    gap: 15px;
}

.pg-width {
    width: 1200px;
}

.center-align {
    margin: 0 auto;
}

.cs-btn {
    background: linear-gradient(129deg, var(--mid-color) 20%, var(--secondary-color) 100%);
    padding: 15px 50px;
    border-radius: 10rem;
    border: none;
    font-size: 1.3rem;
    color: var(--lst-color);
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 4rem;
    text-transform: capitalize;
    line-height: 70px;
}

.forms {
    flex-direction: column;
    width: 600px;
    padding: 60px;
    border: 1px solid red;
    border-radius: 20px;
    box-shadow: 0px 0px 100px -40px red;
    gap: 30px;
    background: linear-gradient(197deg, black 30%, transparent 100%);
}

::placeholder {
    font-family: 'playFont';
    color: rgba(0, 0, 0, 0.329);
}

/* login Form */
.quiz_box,
.admin_screen,
.info_box,
.Signup,
.Login {
    width: 100%;
    height: 100vh;
}

.sign-up-container {
    gap: 15px;
    padding: 30px 60px;
}

.admin-container {
    gap: 15px;
    padding: 30px 60px;
}

.info_box-container {
    gap: 20px;
    padding: 30px 60px;
}

.info_box-container .info-list {
    width: 100%;
    line-height: 40px;
}

.info_box-container .info {
    width: 100%;
    color: var(--lst-color);
    gap: 20px;
    font-family: 'playFont';
}

.info_box-container .buttons {
    width: 100%;
    justify-content: flex-start;
}


.admin_screen input,
.admin_screen select,
.Signup select,
.Signup input,
.Login input {
    width: 100%;
    padding: 15px 20px;
    border: none;
    background: var(--lst-color);
    border-radius: 10rem;
    color: black;
}

.admin_screen p,
.Signup p,
.Login p {
    color: var(--lst-color);
}

.admin_screen p a,
.Signup p a,
.Login p a {
    color: var(--mid-color);
}


.container-quiz {
    width: 600px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 32rem;
    padding: 30px;
    border: 1px solid red;
    border-radius: 20px;
    box-shadow: 0px 0px 100px -40px red;
    background: linear-gradient(197deg, black 30%, transparent 100%);
}

.container-quiz header,
.container-quiz section,
.container-quiz footer {
    width: 100%;
    padding: 10px 20px;
    height: 10%;
}

.container-quiz header,
.container-quiz footer {
    justify-content: space-between;
}

.container-quiz section {
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
}

.container-quiz .title,
.container-quiz .total_que,
.container-quiz .timer {
    width: 50%;
}

.container-quiz .timer {
    gap: 10px;
    justify-content: flex-end;
}

.container-quiz .next_btn {
    font-size: 0.9rem;
    padding: 10px 30px !important;
}

.que_text {
    width: 100%;
    font-size: 2rem;
}

.option_list {
    width: 100%;
}

.option_list .option {
    background: var(--secondary-color);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

/* result box */
.result_box {
    width: 600px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 30px;
    border: 1px solid red;
    border-radius: 20px;
    box-shadow: 0px 0px 100px -40px red;
    background: linear-gradient(197deg, black 30%, transparent 100%);
    margin: 0 auto;
}

.resultParent {
    height: 100vh;
}

.quit {
    background: transparent;
    border: 2px solid var(--mid-color);
}

.circule {
    border: 8px solid transparent;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: green;
}

.correct {
    background-color: yellow !important;
}

.icon.tick,
.correct span {
    color: var(--primary-color);
}

.incorrect {
    background-color: black !important;
}

.incorrect span {
    color: var(--secondary-color);
}

.option.disabled {
    pointer-events: none;
    opacity: 0.9;
}

.next_btn {
    opacity: 0;
}

.show {
    opacity: 1;
}


.circular-progress {
    position: relative;
    height: 180px;
    width: 180px;
    background: conic-gradient(var(--secondary-color) 0deg, #ddd 0deg);
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 140px;
    width: 140px;
    background: #ffffff;
    border-radius: 50%;
}

.progress-value {
    position: relative;
    font-size: 35px;
    font-weight: bold;
    color: var(--mid-color);
}

.result_message {
    font-size: 22px;
    margin-top: 15px;
    font-weight: 500;
    letter-spacing: 2px;
}

.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#courseName {
    text-transform: capitalize;
}

.resultPage {
    height: 100vh;
}

.hide {
    opacity: 0;
}

.btnParent {
    width: 100%;
    height: 100vh;
    background: #000000bf;
    position: fixed;
    opacity: 1;
    top: 0;
}

.remove {
    display: none;
}


/* error Message */
#Offlne,
#errorPopup {
    width: 100%;
    height: 100vh;
    background: #00000082;
    position: fixed;
    top: 0;
}

.offlineBox,
#errorPopup .errobox {

    background: linear-gradient(129deg, var(--mid-color) 10%, var(--secondary-color) 40%);
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30%;
    padding: 20px;
    box-shadow: 5px 7px 30px -9px var(--secondary-color);
    text-align: center;
    border-radius: 1rem;
}

.offlineBox span,
#errorPopup .errobox span {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

/* admin dashboard */
.dashboard {
    height: 100vh;
    justify-content: space-between;
}

.dashboard .sidebar {
    width: 30%;
    background: var(--lst-color);
    height: 100%;
}

.dashboard .mainScreen {
    background: var(--primary-color);
    width: 100%;
    height: 100%;
}

.dashboard .sidebar .logo {
    height: 15%;
    background: red;
}

.dashboard .sidebar .routes {
    background: green;
    height: 80%;
}

.dashboard .sidebar .footer {
    height: 5%;
    background: blue;
}

.dashboard .mainScreen .header {
    height: 10%;
    background-color: var(--mid-color);
    margin-bottom: 20px;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    gap: 10px;
}

.dashboard .mainScreen .header .profile {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 100%;
}

.dashboard .mainScreen .header span {
    color: var(--lst-color);

}

.dashboard .mainScreen .content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.dashboard .mainScreen .content .boxes a {
    width: 30%;
    height: 100%;
    background-color: var(--mid-color);
    border-radius: 10px;
    margin-top: 20px;
    color: var(--primary-color);
    flex-direction: column-reverse;
    font-size: 1.5rem;
    text-decoration: none;
}

.dashboard .mainScreen .content .boxes {
    height: 20%;
    justify-content: space-between;
}

#hand {
    display: inline-block;
    animation: handMov 2s infinite;
}

/* tables */
.Hometable table {
    width: 100%;
    background: var(--lst-color);
    color: var(--primary-color);
    padding: 10px;
    margin: 40px auto;
    border: none;
    box-shadow: none;
}

.Hometable thead {
    background: var(--mid-color);
}

.Hometable td {
    padding: 10px;
    border: 1px solid var(--secondary-color);
}

.Hometable td a {
    font-family: "calFont";
    color: var(--primary-color);
}

/* result */
.studentContainer{
    width: 700px;
    background: red;
    margin: 0 auto;
    padding: 40px 60px;
    height: auto;
}
.studentContainer .content{
    align-items: center;
    justify-content: center;
}
.studentContainer h1{
    margin-bottom: 20px;
    text-align: center;
}
.studentContainer ul li ol{
    margin: 10px 0px;
}
.studentContainer ul li ol{
    padding-left: 70px;
}


@keyframes handMov {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

@media (max-width:600px) {
    .forms {
        width: 90%;
        padding: 40px 20px;
        gap: 15px;
    }

    h1 {
        font-size: 2rem;
        line-height: 35px;
    }

    .admin_screen input,
    .admin_screen select,
    .Signup select,
    .Signup input,
    .Login input {
        padding: 10px;
    }

    .cs-btn {
        padding: 5px 30px;
        border-radius: 16rem;
        font-size: 0.9rem;
    }

    .admin_screen p,
    .Signup p,
    .Login p {
        font-size: 0.7rem;
    }

    .info_box-container.forms.flex {
        width: 90%;
        padding: 20px;
        gap: 5px;
    }

    .info_box-container .info-list {
        line-height: 30px;
    }

    .info_box-container .info {
        font-size: 14px;
    }

    .pg-width {
        width: 90%;
    }

    .container-quiz {
        width: 100%;
        gap: 5px;
        height: auto;
        padding: 10px;
    }

    .container-quiz .next_btn {
        font-size: 0.8rem;
        padding: 10px 15px !important;
        line-height: 15px;
    }

    .que_text {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    #courseName {
        text-transform: capitalize;
        font-size: 0.9rem;
    }

    .option_list {
        font-size: 0.9rem;
    }

    .option_list .option {
        padding: 5px 10px;
    }

    .container-quiz .title,
    .container-quiz .total_que,
    .container-quiz .timer {
        width: 50%;
        font-size: 0.9rem;
    }

    .offlineBox,
    #errorPopup .errobox {
        width: 90%;
    }

}